.env
.eslintcache
.eslintignore
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.db
demo
dist
node_modules
*.log
*.sqlite
tsconfig.tsbuildinfo